<header id="header" class="site-header  style12 cta_button header--sticky     sticky-resize headerstyle--image_color site-header--absolute nav-th--light sheader-sh--dark header--is-sticked" data-original-sticky-textscheme="sh--dark" role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
    <div class="site-header-wrapper sticky-top-area">
        <div class="site-header-top-wrapper topbar-style--default  sh--dark">
            <div class="siteheader-container container">
            </div>
        </div>
        <div class="kl-top-header site-header-main-wrapper clearfix  header-no-top  header-no-bottom  sh--dark">
            <div class="container siteheader-container ">
                <div class="fxb-col fxb-basis-auto">
                    <div class="fxb-row site-header-row site-header-main ">
                        <div class="fxb-col fxb fxb-start-x fxb-center-y fxb-basis-auto fxb-grow-0 fxb-sm-full site-header-col-left site-header-main-left">
                            <div id="logo-container" class="logo-container  hasHoverMe logosize--no zn-original-logo">

                                <h1 class="site-logo logo " id="logo">
                                    <a href="/" class="site-logo-anch">
                                        <img class="logo-img-sticky site-logo-img-sticky" src="img/s4n4.png" alt="membership" title="" style="width: 130px !important;">
                                        <img class="logo-img site-logo-img" src="img/s4n4.png" width="43" height="44" alt="membership" title="" style="width: 130px !important;">
                                    </a>
                                </h1>
                            </div>
                        </div>
                        <div class="fxb-col fxb fxb-center-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-col-center site-header-main-center">
                        </div>
                        <div class="fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-col-right site-header-main-right">
                            <div class="fxb-col fxb fxb-end-x fxb-center-y fxb-basis-auto fxb-sm-half site-header-main-right-top">
                                <div class="sh-component main-menu-wrapper" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                                    <div class="zn-res-menuwrapper">
                                        <a href="#" class="zn-res-trigger zn-menuBurger zn-menuBurger--3--s zn-menuBurger--anim1" id="zn-res-trigger">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </a>
                                    </div>
                                    <div id="main-menu" class="main-nav mainnav--sidepanel mainnav--active-uline mainnav--pointer-dash nav-mm--light zn_mega_wrapper "><ul id="menu-landing2-menu" class="main-menu main-menu-nav zn_mega_menu "><li id="menu-item-88" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-88  main-menu-item-top  menu-item-even menu-item-depth-0"><a href="http://demo.kallyas.net/membership/#eluid75ca258f" class=" main-menu-link main-menu-link-top"><span>Главная</span></a></li>
                                        <li id="menu-item-89" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-89  main-menu-item-top  menu-item-even menu-item-depth-0"><a ui-sref="about" href="/about" class=" main-menu-link main-menu-link-top"><span>О нас</span></a></li>
                                        <li id="menu-item-90" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-90  main-menu-item-top  menu-item-even menu-item-depth-0"><a href="http://demo.kallyas.net/membership/#eluidef1b928a" class=" main-menu-link main-menu-link-top"><span>Поиск</span></a></li>
                                        <li id="menu-item-91" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-91  main-menu-item-top  menu-item-even menu-item-depth-0"><a href="http://demo.kallyas.net/membership/#eluid830190ea" class=" main-menu-link main-menu-link-top"><span>Новости</span></a></li>
                                        <li id="menu-item-92" class="main-menu-item menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-92  main-menu-item-top  menu-item-even menu-item-depth-0"><a href="http://demo.kallyas.net/membership/#eluidec5db0d8" class=" main-menu-link main-menu-link-top"><span>Услуги</span></a></li>
                                        <li id="menu-item-93" class="main-menu-item menu-item menu-item-type-post_type menu-item-object-page menu-item-93  main-menu-item-top  menu-item-even menu-item-depth-0"><a href="http://demo.kallyas.net/membership/shop/" class=" main-menu-link main-menu-link-top"><span>Контакты</span></a></li>
                                        <li id="menu-item-101" class="main-menu-item zn-loginModalBtn menu-item menu-item-type-custom menu-item-object-custom menu-item-101  main-menu-item-top  menu-item-even menu-item-depth-0 current_page_item current-menu-item active"><a href="#login_panel" class=" main-menu-link main-menu-link-top"><span>ВОЙТИ</span></a></li>
                                    </ul></div> </div>

                                <a href="http://demo.kallyas.net/membership/membership-account/" class="sh-component ctabutton cta-button-0 kl-cta-custom btn btn-fullblack btn-md zn_dummy_value cta-icon--before btn--round" data-target="smoothscroll" itemprop="url"><span>Регистрация</span></a> <ul class="sh-component topnav navLeft topnav--cart topnav-no-sc topnav-no-hdnav">

                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
